body{
	margin:0px;
	padding:0px;
	
	background:#17202A;
}

.container-fluid{
	
	/* background-color:black; */
	height:100%;
	width:100%;
	position:absolute;
	background: url(../image/cover/login.jpg) no-repeat center center / cover;
	/* overflow:hidden; */
}

.row{
	/* border:1px solid blue; */
	height:100%;
}

.row .slider{
	position:absolute;
	/* border:1px solid red; */
	height:100%;
	width:100%;
	
	display:flex;
	align-items: center;
	justify-content: center;

	/* background-color:rgba(0,0,0,0.2); */
	/* transform:translate(0%, 50%); */

}

.row .slider .col-lg{

	/* border:1px solid red; */
	
}


.row .slider #register{
	/* border:1px solid red; */
	transform:translate(0%, 50%);
	color:black;
	padding:35px;
	
	background:rgba(100, 100, 100, 0.6);
	backdrop-filter:blur(6px);
	
	border-radius:10px;
	
}

.row .slider #register .form_input{
	/* border:1px solid red; */
	width:300px;
}

.row .slider #register h2{
	/* border:1px solid red; */
	display:flex;
	align-items: center;
	justify-content: center;
	font-weight:900;
	
	color:#8FFF00;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.row .slider #register label{
	/* border:1px solid red; */
	font-size:17px;
	font-weight:600;
}


.row .slider #register #sub{
	/* border:1px solid red; */
	border-radius:5px;
	color:black;
	font-weight:600;
	background-color:#8FFF00;
}

.row .slider #register .warning-text{
	margin-top:8px;
	/* border:1px solid red; */
	color:#FF2300;
	text-align:center;
	display:none;
}


.logo{
	/* background: url(../image/logo/logo.png) no-repeat center center / 100% 100%; */
	
	position:absolute;
	/* border:1px solid red; */
	height:40px;
	width:190px;
	
	z-index:3;
	
	font-family: "Playfair Display", serif;
	color:#DAF7A6;
	font-size:40px;
	font-weight:600;
}

.navbar{
	/* background-color:yellow; */
	position:absolute;
	/* background-color:orange; */
	width:100%;
	height:50px;
	display:flex;
	z-index:3;
	/* border:1px solid blue; */
}

.navbar .nav-only{
	right:0%;
	position:absolute;
	/* background-color:yellow; */
	/* width:100%; */
	height:100%;
	width:100%;
	display:flex;
}


.navbar .nav-only ul{
	/* border:1px solid red; */
	
	/* background-color:orange; */
	list-style:none;
	display:flex;
	align-items: center;
	justify-content: center;
	right:2%;
	position:absolute;
	height:50px;

}

.navbar .nav-only ul li{
	margin:0px 5px;
	
	display:flex;
	align-items: center;
	justify-content: center;
	
	/* border:1px solid red; */
	font-size:17px;
	font-weight:600;
}

.navbar .nav-only ul li .nav-item-left:hover{
	color:#D81AAA;
	transition:all 1s;
}

.navbar .nav-only ul li .nav-item-right{
	
	padding:0px 4px;
	/* border:1px solid red; */
}

.navbar .nav-only ul li .nav-item-right:hover{
	/* color:#D87C1A; */
	color:white;
	transition:all 1s;
	/* box-shadow: 1px 1px #888888; */
	/* border:1px solid red; */
	/* border: 2px solid #dadada; */
    /* border-radius: 7px; */
	
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.navbar .nav-only ul li a{
	
	text-decoration:none;
}

























































